@{
    Layout = "~/Views/Shared/_RegLog.cshtml";
    ViewBag.Title = "About";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Random Image</title>
</head>
<body bgcolor="#FFFFFF">
    <img src="/Image/spacer.gif" id="myPicture" />
</body>
</html>
<script src="~/Scripts/FireJs/JavaScript.js"></script>