<!DOCTYPE html>

<html>
<head>
    <style>
        .background {
            background-image: url('../../Image/3d23a63c5bea3a9dccbdf74ec8f23edb.jpeg');
            width: 100%;
            height: 100%;
        }
    </style>
    <style media="screen">
        #randomimg {
            background-size: cover;
            background-repeat: no-repeat;
        }
        .titleword{
            color:whitesmoke !important;
            text-shadow: 3px 2px 5px  #808080 !important;
           
        }
    </style>
    <region>

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <!-- Font Awesome -->
        <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
        <!-- Ionicons -->
        <link href="~/fonts/ionicons.min.css" rel="stylesheet" />
        <!-- Theme style -->

        <link href="~/Content/bootstrap - Copy.css" rel="stylesheet" />
        <link href="~/Content/AdminLTEshort - Copy.css" rel="stylesheet" />
        <!-- iCheck -->

        <link href="~/Content/blue.css" rel="stylesheet" />
        <!---google font--->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <!-- jvectormap -->

        <link href="~/Content/jquery-jvectormap.css" rel="stylesheet" />
        <!-- Theme style -->
        <!-- AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load. -->
        <link href="~/Content/skin-blue.min.css" rel="stylesheet" />
        <link href="~/Content/BoxTransition.css" rel="stylesheet" />
        <link href="~/Content/BoxTransSemantic.css" rel="stylesheet" />
    </region>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title >FireTracker2 | Log in</title>
</head>
<body translate="no" id="randomimg">






    @RenderBody()


    <!--- random pic-->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/FireJs/jquery-2.1.3.js"></script>
    <script src="~/Scripts/FireJs/JavaScript.js"></script>
    <script src="~/Scripts/FireJs/Semantic-ui.js"></script>
    <script src="~/Scripts/FireJs/BoxTrans.js"></script>



    @RenderSection("scripts", required: false)
</body>


</html>
